type: "MARKDOWN_NOTE"
folder: "12b42fe17974412f5639"
title: "jQuery - Attribute"
content: '''
  # jQuery - Attribute
  
  ## [`jQuery.attr()`](http://www.runoob.com/jquery/html-attr.html)
  
  返回或设置被选元素的属性和值
  
  ```javascript
  //返回属性的值
  $(selector).attr(attribute);
  //设置属性和值
  $(selector).attr(attribute,value);
  ```
'''
tags: []
isStarred: false
createdAt: "2017-05-03T09:21:21.904Z"
updatedAt: "2017-05-03T09:21:33.394Z"
