type: "SNIPPET_NOTE"
folder: "20e10111bcfee4bc14b5"
title: "图片转换为 base64 编码"
description: "图片转换为 base64 编码"
snippets: [
  {
    name: "image2base64.php"
    mode: "PHP"
    content: '''
      <?php
      header('Content-type:text/html;charset=utf-8');
      
      //读取图片文件，转换成 base64 编码格式
      $imageFile = 'test.jpg';
      $imageInfo = getimagesize($imageFile);
      $base64ImageContent = "data:{$imageInfo['mime']};base64," .  chunk_split(base64_encode(file_get_contents($imageFile)));
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-06-08T03:25:27.660Z"
updatedAt: "2017-06-08T03:36:10.196Z"
