type: "MARKDOWN_NOTE"
folder: "12b42fe17974412f5639"
title: "JavaScript - 数据类型"
content: '''
  # JavaScript - 数据类型
  
  ## 基本数据类型
  
  __按照值来操作__
  
  - `number`
  - `string`
  - `boolean`
  - `null`
  - `undefined`
  
  ## 引用数据类型
  
  __按照引用地址来操作__
  
  - `object`
    - `{}`
    - `[]`
    - `/^$/`
    - `Date`
  - `function`
  
  
'''
tags: []
isStarred: false
createdAt: "2017-05-03T09:23:17.282Z"
updatedAt: "2017-05-03T09:23:35.364Z"
