type: "MARKDOWN_NOTE"
folder: "71b8d172b36e10e5de60"
title: "Dockerfile"
content: '''
  # Dockerfile
  
  ## `FROM`
  
  __指定基础镜像__
  
  必备指令，并且必须是第一条
  
  `scratch` 特殊镜像，表示一个空白的镜像
  
  ## `RUN`
  
  __执行命令__
  
  ### 格式
  
  - shell : `RUN <命令>`，就像直接在命令行中输入的命令一样。
  - exec : `RUN ["可执行文件", "参数1", "参数2"]`，这更像函数调用中的格式。
  
  ## `COPY`
  
  __复制文件__
  
  ### 格式
  
  - shell : `COPY <源路径>... <目标路径>`
  - exec : `COPY ["<源路径1>",... "<目标路径>"]`
  
  ## `ADD`
  
  __更高级的复制文件__
  
  > 在需要自动解压的时候可以使用
  
  ## `CMD`
  
  __容器启动命令__
  
  ### 格式
  
  - shell : `CMD <命令>`
  - exec : `CMD ["可执行文件", "参数1", "参数2"...]`
  - 参数列表 : `CMD ["参数1", "参数2"...]` 在指定了 `ENTRYPOINT` 指令后，用 `CMD` 指定具体的参数
  
  ## `ENTRYPOINT`
  
  __入口点__
  
  
'''
tags: []
isStarred: false
createdAt: "2017-05-19T02:18:07.218Z"
updatedAt: "2017-05-19T02:42:24.680Z"
