type: "MARKDOWN_NOTE"
folder: "20e10111bcfee4bc14b5"
title: "PHP - 运算符优先级"
content: '''
  # PHP - 运算符优先级
  
  | 结合方向 |                   运算符                    |      附加信息       |
  | :--: | :--------------------------------------: | :-------------: |
  |  无   |              `clone` `new`               | `clone` 和 `new` |
  |  左   |                   `[`                    |    `array()`    |
  |  右   |                   `**`                   |      算术运算符      |
  |  右   | `++` `--` `~` `(int)` `(float)` `(string)` `(array)` `(object)` `(bool)` `@` |    类型和递增／递减     |
  |  无   |               `instanceof`               |       类型        |
  |  右   |                   `!`                    |      逻辑运算符      |
  |  左   |               `*` `/` `%`                |      算术运算符      |
  |  左   |               `+` `-` `.`                |  算术运算符和字符串运算符   |
  |  左   |                `<<` `>>`                 |      位运算符       |
  |  无   |            `<` `<=` `>` `>=`             |      比较运算符      |
  |  无   |     `==` `!=` `===` `!==` `<>` `<=>`     |      比较运算符      |
  |  左   |                   `&`                    |     位运算符和引用     |
  |  左   |                   `^`                    |      位运算符       |
  |  左   |                    `|`                    |      位运算符       |
  |  左   |                   `&&`                   |      逻辑运算符      |
  |  左   |                   `||`                   |      逻辑运算符      |
  |  左   |                   `??`                   |      比较运算符      |
  |  左   |                  `? :`                   |     ternary     |
  |  右   | `=` `+=` `-=` `*=` `**=` `/=` `.=` `%=` `&=` `|=` `^=` `<<=` `>>=` |      赋值运算符      |
  |  左   |                  `and`                   |      逻辑运算符      |
  |  左   |                  `xor`                   |      逻辑运算符      |
  |  左   |                   `or`                   |      逻辑运算符      |
  
'''
tags: [
  "PHP"
]
isStarred: false
createdAt: "2017-04-17T08:00:44.497Z"
updatedAt: "2017-04-17T08:23:11.589Z"
