type: "MARKDOWN_NOTE"
folder: "71b8d172b36e10e5de60"
title: "Dockerfile"
content: '''
  # Dockerfile
  
  ## `FROM`
  
  __指定基础镜像__
  
  必备指令，并且必须是第一条
  
  `scratch` 特殊镜像，表示一个空白的镜像
  
  ### 格式
  
  - `FROM <镜像>`
  
  ## `RUN`
  
  __执行命令__
  
  ### 格式
  
  - shell : `RUN <命令>`，就像直接在命令行中输入的命令一样。
  - exec : `RUN ["可执行文件", "参数1", "参数2"]`，这更像函数调用中的格式。
  
  ## `COPY`
  
  __复制文件__
  
  ### 格式
  
  - shell : `COPY <源路径>... <目标路径>`
  - exec : `COPY ["<源路径1>",... "<目标路径>"]`
  
  ## `ADD`
  
  __更高级的复制文件__
  
  > 在需要自动解压的时候可以使用
  
  ## `CMD`
  
  __容器启动命令__
  
  ### 格式
  
  - shell : `CMD <命令>`
  - exec : `CMD ["可执行文件", "参数1", "参数2"...]`
  - 参数列表 : `CMD ["参数1", "参数2"...]` 在指定了 `ENTRYPOINT` 指令后，用 `CMD` 指定具体的参数
  
  ## `ENTRYPOINT`
  
  __入口点__
  
  ## `ENV`
  
  __设置环境变量__
  
  ### 格式
  
  - `ENV <key> <value>`
  - `ENV <key1>=<value1> <key2>=<value2> ...`
  
  ## `ARG`
  
  __构建参数__
  
  ### 格式
  
  - `ARG <参数名>[=<默认值>]`
  
  ## `VOLUME`
  
  __定义匿名卷__
  
  ### 格式
  
  - `VOLUME ["<路径1>", "<路径2>"...]`
  - `VOLUME <路径>`
  
  ## `EXPOSE`
  
  __声明端口__
  
  ### 格式
  
  - `EXPOSE <端口1> [<端口2>...]`
  
  ## `WORKDIR`
  
  __指定工作目录__
  
  ### 格式
  
  - `WORKDIR <工作目录路径>`
  
  ## `USER`
  
  __指定当前用户__
  
  ### 格式
  
  - `USER <用户名>`
  
  ## `HEALTHCHECK`
  
  __健康检查__
  
  ### 格式
  
  - `HEALTHCHECK [选项] CMD <命令>` 设置检查容器健康状况的命令
  - `HEALTHCHECK NONE` 如果基础镜像有健康检查指令，使用这行可以屏蔽掉其健康检查指令
  
  ## `ONBUILD`
  
  __为他人做嫁衣裳__
  
  ### 格式
  
  - `ONBUILD <其它指令>`
'''
tags: []
isStarred: false
createdAt: "2017-05-19T02:18:07.218Z"
updatedAt: "2017-05-23T08:18:44.376Z"
