type: "MARKDOWN_NOTE"
folder: "20e10111bcfee4bc14b5"
title: "PHP - 运算符"
content: '''
  # PHP - 运算符
  
  ## 类型运算符
  
  - `instanceof` 用于确定一个 PHP 变量是否属于某一类 class 的实例
  - `instanceof` 也可以用来确定一个变量是不是继承自某一父类的子类的实例
  - `instanceof` 也可用于确定一个变量是不是实现了某个接口的对象的实例
  
  ## 数组运算符
  
  - `+` **联合** 两个数组相联合
  - `==` **相等** 两个数组具有相同的键 / 值对则为 **TRUE**
  - `===` **全等** 两个数组具有相同的键 / 值对并且顺序和类型都相同则为 **TRUE**
  - `!=` **不等** 两个数组不等于则为 **TRUE**
  - `<>` **不等** 两个数组不等于则为 **TRUE**
  - `!==` **不全等** 两个数组不全等于则为 **TRUE**
  
  ## 位运算符
  
  - `&` **And（按位与）** 两个数中都为 1 的位设为 1
  - `|` **Or（按位或）** 两个数中任何一个为 1 的位设为 1
  - `^` **Xor（按位异或）** 两个数中另一个为 1 另一个为 0 的位设为 1
  - `~` **Not（按位取反）** 将一个数的 0 位设为 1，反之亦然
  - `<<` **Shift left（左移）** 将一个数中的位向左移动 n 次（每一次移动都表示 “乘以 2”）
  - `>>` **Shift right（右移）** 将一个数中的位向右移动 n 次（每一次移动都表示 “除以 2”）
  
'''
tags: [
  "PHP"
]
isStarred: false
createdAt: "2017-04-17T07:58:22.521Z"
updatedAt: "2017-04-17T08:24:11.570Z"
